<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
  <strong>Olá, {{ meetup_creator_name }}</strong>
</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
  Um novo usuário se inscreveu no seu Meetup {{ meetup_name }} / {{ meetup_date }}
</p>

<h4>Detalhes do usuário</h4>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
  <strong> Nome:</strong> {{ subscriber_name }}<br />
  <strong> E-Mail: </strong> {{ subscriber_email }}<br />
</p>
